<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RedocApp.Properties.Settings.ConnectionString" connectionString="USER ID='&quot;C##_REDOC_DATA&quot;';PASSWORD=REDOC_data;DATA SOURCE=localhost:1521/XE;PERSIST SECURITY INFO=True"
            providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>